@model MVCOnlineTicariOtomasyon.Models.Sınıflar.Departman

@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<style>
    body {
        background-color: darkgray
    }
</style>
<br />
<h2>Departman Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.DepartmanAD)
        @Html.TextBoxFor(x => x.DepartmanAD, new { @class = "form-control" })
        @Html.HiddenFor(x => x.DepartmanID)
    </div>
    <br />
    <button class="btn btn-warning">Değişiklikleri kaydet</button>
}


